.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 42vh;
    justify-content: center;
    background-color: #f9f9f9;
}

.welcome-info {
    font-size: 15px;
    font-weight: 800;
    color: green;
    margin-left: 5rem;
  }
