.home-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 42vh;
    justify-content: center;
    background-color: #f9f9f9;

}
.main-header {
    font-size: 36px;
    margin: 15px;
    color: #333;
    text-align: center;
}


