.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 50px 5px;
    font-size: 20px;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(133, 148, 201, 0.25);
    background-color: #a2a5b0;
}

.nav-container li a{
    color: whitesmoke;
    text-decoration: rgb(9, 7, 7);
    font-weight: bold;
}
